
:root {
    --skills-color: #5CA5A5;
    --title-color: #2B3939;
    --text-color: #7C8F8F;
    --bg-color: #EFFAFA;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--skills-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EFFAFA;
    font-size: 15px;
    line-height: 1.5;
    font-family: "League Spartan" ,"Arial", sans-serif;
    font-weight: 500;
    color: #222;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.display-none {
    display: none;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

.site-header {
    background-image: url('../img/header-bg.svg');
    min-height: 156px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.header-text {
    margin: 0;
    color: transparent;
    user-select: none;
}


/* MAIN CONTENT */
.job-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 76px;
    padding-bottom: 120px;
}

.job-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 15px 20px -5px #0D718226;
    padding: 32px 40px;
    background-color: #fff;
    justify-content: space-between;
}

.featured-true {
    border-left: 5px solid #5CA5A5;

} 

.job-item-left {
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.job-item:not(:last-child) {
    margin-bottom: 24px;
}

.job-link {
    cursor: pointer;
    display: block;
    margin-right: 24px;
}

.job-link-img {
    display: block;
    min-width: 88px;
    height: 88px;
    cursor: pointer;
    border-radius: 50%;
}

.job-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.company-name-link {
    margin-right: 16px;
    display: inline-block;
    text-decoration: none;
}

.company-name-link:hover {
    opacity: 0.8;
}

.company-name-link:active {
    opacity: 0.6;
}

.company-name {
    margin: 0;
    font-size: 14px;
    color: #5CA5A5;
    font-weight: 700;
    line-height: 15.68px;
}

.job-time {
    margin: 0;
    margin-right: 16px;
    padding: 6px 8px 4px 8px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.08px;
    background-color: #5CA5A5;
    border-radius: 12px;
    text-transform: uppercase;
}

.featured {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.08px;
    text-transform: uppercase;
    padding: 6px 8px 4px 8px;
    background-color: #2B3939;
    border-radius: 12px;
}

.job-info-title-link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 8px;
}

.job-info-title-link:hover {
    opacity: 0.8;
}

.job-info-titl-link:active {
    opacity: 0.8;
}

.job-info-title {
    margin: 0;
    color: #2B3939;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.job-additional-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.additional-item {
    list-style-type: disc;
    text-transform: capitalize;
    color: #7C8F8F;
    line-height: 24px;
    letter-spacing: -0.12px;
}

.additional-item:not(:last-child) {
    margin-right: 36px;
}

.additional-item:first-child {
    list-style: none;
}

.skills-list {
    display: flex;
    list-style: none;
}

.skill-item {
    color: #5CA5A5;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(92, 165, 165, 0.1);
}

.skill-item:not(:last-child) {
    margin-right: 24px;
}